<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>eloelo</title>
</head>
<body>
    <h1>Dear {0},</h1>

    <p>
    <b>Welcome to the best site on the internet to reserve tickets, ReserveIt!</b>
    <br>
    <b>Here are your credentials in case you forget them:</b>
    <br>
    <b>Login         :</b> {1}
    <br>
    <b>Password         :</b> {2}
    <br>
    </p>
    <p>
    Hope you enjoy your time on our site.
    <br>
    With regards,
    <br>
    ReserveIt Team
    </p>

</body>
</html>
